body {
  background-color: lightgrey;
}
  
:root {
  --player-width: calc(13*40px);
  --player-height: 30px;
}

#table {
  width: 100%;
  height: 50%;
}

.player {
  position: absolute;
  width: var(--player-width);
  height: var(--player-height);
  padding: 5px;
  user-select: none;
  font-size: 1.2em;
  text-align: center;
}

.human {
  background-color: rgb(229, 201, 243);
  border: 1px solid purple;
}

.human > .card {
  cursor: pointer;
}

#debug-info {
  position: absolute;
  right: 0;
  width: 350px;
  bottom: 0;
  height: 200px;
  background-color: grey;
  color: white;
  border: 3px solid white;
  overflow-y: scroll;
}

#played-cards {
  left: calc(50% - 150px);
  width: 300px;
  top: 400px;
  position: relative;
  font-size: 3em;
}

#north {
  top: 15px;
  left: calc(50% - var(--player-width)/2);
  transform: rotate(180deg);
}

#east {
  top: calc(50% - var(--player-height)/2);
  right: 0;
  /*transform-origin: top left;*/
  transform: translate(50px) rotate(-90deg);
}

#south {
  bottom: 30px;
  left: calc(50% - var(--player-width)/2);
}

#west {
  top: calc(50% - var(--player-height)/2);
  left: 0;
  transform: translate(-50px) rotate(90deg);
}

.card {
  border: 1px solid black;
  margin: 2px;
  background-color: whitesmoke;
  width: 33px;
  display: inline-block;
  height: 40px;
  border-radius: 6px;
}

.big-card {
  width: 68px;
  height: 75px;
}
